OPENAI_API_KEY=
ANTHROPIC_API_KEY=
GOOGLE_API_KEY=
TAVILY_API_KEY=
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=
LANGSMITH_TRACING=

# 仅在 Open Agent Platform 上需要
SUPABASE_KEY=
SUPABASE_URL=
# 在 Open Agent Platform 上进行生产部署时应设为 true；其他情况（如本地开发）应设为 false。
GET_API_KEYS_FROM_CONFIG=false